body {
  width: 50vw;
  margin: 5vh auto 10vh auto;
  background-color: #151515;
  color: #ff8100;
  font-family: monospace;
  font-size: 125%;
}

hr {
  margin: 3ex 0 3ex 0;
}

h1, h2 {
  margin: 0;
}

h3 {
  margin: 0 0 1ex 0;
}

ul {
  margin: 0;
  margin-left: 4ch;
  margin-bottom: 1ex;
  padding: 0;
  list-style-type: none;
}

li::before {
  content: '> ';
}

a {
  text-decoration: none;
  color: #b0d1f7;
}

.center {
  text-align: center;
}

section {
  margin: 0;
  margin-bottom: 4ex;
  padding: 0;
}

